body.ds {
  background: #f8f8fa;
  color: #080808;
  font-family: 'Montserrat', sans-serif;
}

.ds-header .title {
  font-size: 4rem;
  text-align: center;
  color: #031572;
}

.box {
  background: #e7e9ed;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  box-shadow: 0px 4px 6px rgba(88, 140, 237, 0.776);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

table th, table td {
  border: 1px solid #0d2224;
  padding: 0.8rem;
  text-align: center;
}

table th {
  background: #98d5f2;
  font-weight: bold;
}
